<header class="site-header">
	<a class="site-title" href="/">WILLIAM ZHAO&rsquo;S <span class="accent">PORTFOLIO</span></a>
	<nav class="site-nav nav-primary" aria-label="Primary">
		<a href="/">Home</a>
		<a href="https://www.linkedin.com/in/williamzhaodesign/">LinkedIn</a>
		<a href="https://docs.google.com/document/d/1UY5nCkw3gl1JghJlfH7vDJdwNv0yEomk2ccBEoTA44E/edit?usp=sharing">Resume</a>
		<a href="https://github.com/NotSuspicious">GitHub</a>
		<a href="mailto:contact@william-zhao.com">Email</a>
	</nav>
</header>
