<footer class="site-footer">
	<p class="copyright">&copy; 2026 William Zhao</p>
	<nav class="site-nav nav-footer" aria-label="Footer">
		<a href="/#about">About</a>
		<a href="https://www.linkedin.com/in/williamzhaodesign/">LinkedIn</a>
		<a href="https://docs.google.com/document/d/1UY5nCkw3gl1JghJlfH7vDJdwNv0yEomk2ccBEoTA44E/edit?usp=sharing">Resume</a>
		<a href="https://github.com/NotSuspicious">GitHub</a>
	</nav>
</footer>
